body {
    background-color: #333;
    color: white;
    font-family: 'Lexend Zetta', sans-serif;
    text-align: center;
}

.controls {
    margin: 20px;
}

.canvas-container {
    position: relative;
    width: 800px;
    margin: 0 auto;
}

canvas {
    display: block;
    margin: 20px auto;
    background-color: black;
}

button {
    background: none;
    border: none;
    cursor: pointer;
}

button img {
    width: 100px;
    height: auto;
}

.fade-button {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    opacity: 0;
    transition: opacity 0.5s;
}

#startGameButton {
    left: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
}

#replayGameButton {
    left: calc(50% + 120px);
    transform: translate(-50%, -50%);
}

.fade-out {
    opacity: 0;
}

.fade-in {
    opacity: 1;
}
